Data/Fietsdata/kleinebestanden/fietsroutes_aangepast_met_gebruikers.json filter=lfs diff=lfs merge=lfs -text
Data/Fietsdata/kleinebestanden/fiets_gebruikersprofielen3.json filter=lfs diff=lfs merge=lfs -text
Data/Fietsdata/kleinebestanden/gebruikersprofielen.json filter=lfs diff=lfs merge=lfs -text
Data/Loopdata/kleinebestanden/routes_volledig.json filter=lfs diff=lfs merge=lfs -text
Data/Loopdata/kleinebestanden/run_gebruikersprofielen.json filter=lfs diff=lfs merge=lfs -text
/Data/Volledigedata/runs_with_speed.json filter=lfs diff=lfs merge=lfs -text
/Data/Volledigedata/Loopdata/runs_with_speed.json filter=lfs diff=lfs merge=lfs -text
/Data/Volledigedata/Fietsdata/bike_with_speed.json filter=lfs diff=lfs merge=lfs -text
/Data/Fietsdata/grotebestanden/bike_gebruikersprofielen2.json filter=lfs diff=lfs merge=lfs -text
/Data/Loopdata/grotebestanden/looproutes_aangepast.json filter=lfs diff=lfs merge=lfs -text
/Data/Loopdata/grotebestanden/run_gebruikersprofielen3.json filter=lfs diff=lfs merge=lfs -text
Data/Fietsdata/grotebestanden/fietsroutes_aangepast_clean.zip filter=lfs diff=lfs merge=lfs -text
