routes_map.html
routes_map2.html
routes_map_with_ids.html
routes_op_kaart.html
Data/Loopdata/kleinebestanden/100_routes.json
Data/Fietsdata/grotebestanden/fietsroutes_aangepast_clean.json
Extracode/AlleRoutes
Extracode/RouteData
Extracode/RouteData2
Extracode/RouteData3
Extracode/RouteData4
Extracode/RouteData5
Extracode/RouteData6
Data/Fietsdata/combined_lines_volledig.json
Data/Fietsdata/output.json
Data/Fietsdata/RouteSurfaceData5.txt

Data/Loopdata/RouteSurfaceData.txt
Data/Loopdata/RouteSurfaceData2.txt
Data/Loopdata/RouteSurfaceData3.txt
Data/Loopdata/RouteSurfaceData4.txt

Loopcode_uitbreiding/bijgewerkte_gebruikersprofielen.json
Loopcode_uitbreiding/combined_lines_volledig.json
Loopcode_uitbreiding/combined_lines.json
Loopcode_uitbreiding/combined.json
Loopcode_uitbreiding/demo.json
Loopcode_uitbreiding/nieuw_bestand.json
Loopcode_uitbreiding/output.json
Loopcode_uitbreiding/aanbevolen_routes_*.csv

Loopcode_uitbreiding/bijgewerkte_gebruikersprofielen_v2.json
Data/Loopdata/kleinebestanden/run_gebruikersprofielen_v2.json